@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

:root {
    --bg-color: linear-gradient(to bottom right, #4237BA, #9088D5);
    --bg-card: #020308;
    --bg-button: #4C30C1;
    --bg-range: #361cca;
    --text: #f4f4f5;
    --text-muted: #737479;
    --text-hover: #9088D5;
}

body {
    background: var(--bg-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: stretch;
    row-gap: 10vh;
    padding-top: 3.5vh;
    line-height: 1.6;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.site-header {
    width: 90vw;
    height: 10vh;
    border-radius: 9px;
    background: var(--bg-card);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    line-height: 100%;
}

.title {
    color: var(--text);
    font-size: 1.8em;
    margin-left: 2vw;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    letter-spacing: 0.07em;
    word-spacing: 0.04em;
    transition: all 0.1s ease-in;
}

.title:hover {
    color: var(--text-hover);
    transition: all 0.2s ease-in;
    cursor: default;
}

.text-muted {
    color: var(--text-muted);
}

.by {
    font-size: 0.7em;
    margin-right: 0.2vw;
    rotate: -90deg;
    transition: all 0.1s ease-in;
}

.by:hover {
    color: var(--text-hover);
    transition: all 0.2s ease-in;
    cursor: default;
}

.controlling-container {
    width: 90vw;
    height: 13vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.controlling-item {
    background: var(--bg-card);
    display: block;
    height: 100%;
    width: 35%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filtering g {
    transition: all 0.2s ease-in;
}

.filtering:hover g,
.filtering:focus g {
    transition: all 0.2s ease-in;
    fill: var(--text-hover);
}

.settings g {
    transition: all 0.2s ease-in;
}

.settings:hover g,
.settings:focus g {
    transition: all 0.2s ease-in;
    fill: var(--text-hover);
}

main {
    width: 83vw;
    border: dashed var(--bg-range);
    display: flex;
    flex-flow: row wrap;
    padding: 1vh 3vw;
}

.entry {
    margin: 3vh 2vw;
    max-width: 290px;
}

.entry>a {
    width: 100%;
    height: 100%;
    color: var(--text);
    border: 5px solid;
    border-image-slice: 1;
    display: block;
    text-decoration: none;
    background: var(--bg-card);
}

.card-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.nickname {
    z-index: 1;
    width: 38%;
    height: 4.3vh;
    text-align: center;
    font-weight: 100;
    transform: translateY(-50%);
    border-radius: 20px;
    line-height: 4.3vh;
    background: var(--bg-button);
    font-size: 1.3em;
    letter-spacing: 0.04em;
}

.card {
    padding: 0 7%;
}

.desc {
    font-style: italic;
    color: var(--text-muted);
    transition: all 0.2s ease-in;
    font-size: 1.15em;
}

.desc:hover,
.desc:focus {
    color: var(--text);
    transition: all 0.2s ease-in;
}

.tags {
    max-width: 100%;
    margin: 1vh 0;
    font-size: 0.89em;
}

.tag {
    display: inline-block;
    margin: 0 2%;
    border-radius: 13px;
    padding: 1px 15px;
}

.date {
    display: inline-block;
    width: 100%;
    text-align: right;
    transform: translateY(35%);
    font-size: 0.89em;
}

.lang {
    width: 30%;
    height: 4vh;
    text-align: center;
    font-weight: 100;
    transform: translateY(50%);
    border-radius: 40px;
    line-height: 4vh;
    background: var(--bg-range);
    font-size: 1.1em;
}

/* Filtr tlačítko */

.fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 7vh;
    aspect-ratio: 1/1;
    background-color: var(--bg-card);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5vh .5vw;
    border: 3px solid;
    border-image-source: linear-gradient(to right bottom, #aed63b, #55db7b, #00d7b7, #00cee3, #00bff4, #3bbff6, #55bff7, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-image-slice: 1;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.fixed:hover,
.fixed:focus {
    transform: scale(1.19);
    transform: translate(2% 2%);
    transition: all 0.1s ease-in-out;
}

.hidden {
    display: none;
}