<div class="offscreen-container" id="filter">
    <div class="first-row">
        <div class="filters-title">
            filtrovat <span class="text-muted">a</span> seřadit
        </div>
        <div class="exit exit1">
            <span>close</span>
        </div>
    </div>
    <div class="second-row">
        <div class="sort-group"><span class="sort">nejnovější</span><span class="sort">nejstarší</span></div>
        <div class="sort-group"><span class="sort">nejdelší</span><span class="sort">nejkratší</span></div>
        <div class="sort-group"><span class="sort">nejlepší</span><span class="sort">nejhorší</span></div>
        <div class="sort-group"><span class="sort">jazyk</span><span class="sort">neřadit</span></div>
    </div>
    <form action="" class="filter-form">

    </form>
</div>