<% layout('layouts/settings') %>

<div class="first-row" id="settings-first-row" style="margin-bottom:0">
    <div class="filters-title">
        <div>
            <span>Přidat</span>
            <span class="text-muted">/upravit</span>
        </div>
        <div><span>uživatele</span>
            <span class="text-muted">/jazyk</span>
        </div>
    </div>
    <a href="/" class="exit">
        <span style="font-size: 3em;">close</span>
    </a>
</div>
<div class="content">
    <div class="div">
        <div class="heading">Uživatelé:</div>
        <div class="row">
            <% for (let user of users) {%>
            <div class="item user" id="<%=user._id%>">
                <div class="img"></div>
                <span class="name"><%=user.nickname%></span>
            </div>
            <% } %>
            <div class="item" id="newU">
                <div class="img newish"></div>
                <span class="name">přidat</span>
            </div>
        </div>
    </div>
    <div class="div">
        <div class="heading">Jazyky:</div>
        <div class="row two">
            <% for (let language of languages) {%>
            <div class="langC">
                <div class=" item"><%=language.name%></div>
                <div class="del">
                    <form method="POST" action="/settings/languages/<%=language._id%>?_method=DELETE">
                        <button>smazat</button>
                    </form>
                </div>
            </div>
            <% } %>
            <div class="langC" id="newL">
                <div class="name item">přidat</div>
            </div>
        </div>
    </div>
</div>


<div class="offscreen-container" id="u-add">
    <div class="inner">
        <div class="first-row">
            <div class="filters-title">
                Přidat <span class="text-muted">programátora</span>
            </div>
            <div class="exit exit1">
                <span>close</span>
            </div>
        </div>
        <form action="/settings/users" class="form offscreen-content-container" method="POST">
            <div class="form-item">
                <label for="nickname">Přezdívka</label>
                <input type="text" name="nickname" id="nickname" min="1" required>
            </div>
            <div class="form-item">
                <button>Přidat programátora</button>
            </div>
        </form>
    </div>
</div>

<div class="offscreen-container" id="u-edit">
    <div class="first-row">
        <div class="filters-title">
            Upravuješ <span class="text-muted" id="span-nickname">jméno</span>
        </div>
        <div class="exit exit2">
            <span>close</span>
        </div>
    </div>
    <div class="offscreen-content-container">
        <form class="form" method="POST" id="update">
            <div class="form-item">
                <label for="nickname">Přezdívka</label>
                <input type="text" name="nickname" id="nickname" min="1" required>
            </div>
            <div class="form-item">
                <button>Upravit</button>
            </div>
        </form>
        <div class="form-item">
            <form method="POST" id="delete">
                <button>Smazat</button>
            </form>
        </div>
    </div>
</div>

<div class="offscreen-container" id="l-add">
    <div class="inner">
        <div class="first-row">
            <div class="filters-title">
                Přidat <span class="text-muted">jazyk</span>
            </div>
            <div class="exit exit3">
                <span>close</span>
            </div>
        </div>
        <form action="/settings/languages" class="form offscreen-content-container" method="POST">
            <div class="form-item">
                <label for="name">Jazyk</label>
                <input type="text" name="name" id="name" min="1" required>
            </div>
            <div class="form-item">
                <button>Přidat jazyk</button>
            </div>
        </form>
    </div>
</div>