<% layout('layouts/settings') %>

<div class="offscreen-container offscreen">
    <div class="first-row" id="settings-first-row">
        <div class="filters-title">
            <div>
                <span>Přidat</span>
                <span class="text-muted">/upravit</span>
            </div>
            <div><span>uživatele</span>
                <span class="text-muted">/jazyk</span>
            </div>
        </div>
        <a href="/" class="exit">
            <span>close</span>
        </a>
    </div>
    <div class="offscreen-content-container">
        jdi nekam
    </div>
</div>