<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programátorský deník</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" type="image/x-icon" href="/static/css/favicon.ico">
</head>

<body>
        <%- body %>
    <script>
        const languages = <%- JSON.stringify(languages) %>;
        const users = <%- JSON.stringify(users) %>;
    </script>
    <script src="static/javascript/app.js"></script>
</body>

</html>